body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.weava-extension-context,
.highlighter-context {
  background-color: #dcd0ff;

}


.about-us {
  text-align: center;
}
.card {
  background-color: #bfacf5;
  padding: 15px;
  width: 60%;
  margin: 0 auto;
}

.name-creator, .fun-fact, .about-creator, .faveProduct {
  font-weight: bold;
}

.fun-fact, .creator-fact {
  display: inline-block;
}

.prof-img {
  width: 50%;
}