body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
    background-color: #DEC1F5;
}

.searchButtons {
    background-color: #8769AC;
    margin: 10px;
    
    
}

.pageTitle {
    padding: 10px;
}

.singleButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.buttons {
    background: #513f67;    
    border: none;
    padding: 20px;
    color: white;
    border-radius: 30px;
    width: 150px;
}

.searchResults {
    background-color: #6FD08C;
}

.singleCard {
    background-color: #A9DC92;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
}

.carouselBox {
    margin: 50px;
}

.carouselImg {
    display: flex;
    justify-content: center;
}

.footer {
    
}

.carousel-caption {
    
    bottom: 200px;


}


.about-us {
  text-align: center;
}
.card {
  background-color: #bfacf5;
  padding: 15px;
  width: 60%;
  margin: 0 auto;
}

.name-creator, .fun-fact, .about-creator, .faveProduct {
  font-weight: bold;
}

.fun-fact, .creator-fact {
  display: inline-block;
}

.prof-img {
  width: 50%;
}